body{
}
.fargtema{
	background-color: #f0efef;
}
.padding{
	padding: 10px 0px 0px 35px;
}
.padding2{
	padding: 0px 0px 0px 10px;
}
.mellanrum{
	margin-left: 20px;
}
.main{
	width: 100%;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.ner{
	margin-bottom: 15px;
}
.bildgalleri{
	margin-right: 10px;
	margin-top: 5px;
}
.auto{
	margin: auto;
	text-align: center;
}
.sidopanel{

}
.material:hover{
	background: black;
}
.kort{
	float: left;
	margin-right: 15px;
}
.info{
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
}
.mitt{
	text-align: center;
}
.footer{
	text-align: center;
	height: 100px;
	width: 100%;
	padding-top: 35px;
}
.storlek{
background-size: 400px;
width: 400px;
height: 220px;
}
.flytt{
	height: 225px;
}
.input{
	display: none;
}
.hopp{
	margin-top: 30px;
}
#answer{
	width: 375px;
}
.bild0{
	background-image: url("../img/bild0.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}
.bild1{
	background-image: url("../img/bild1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
}
.bild2{
	background-image: url("../img/bild0.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}